{% extends "index.html" %}
{% load static %}

{% block head %}
<title>{{title}}</title>
<link rel="stylesheet" href="{% static "css/vault/index.css" %}">
<script src="{% static "js/vault/index.js" %}"></script>
{% endblock head %}

{% block body %}

<section class="section section-vault">
  <header>
    <nav class="navbar">
        <h1>APM Vault</h1>
        <ul class="nav-links">
            <li><a href="/vault-new">Add New</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
  </header>

  <div class="container vault-container">
    <div class="search-bar">
        <input type="text" id="search" placeholder="Search saved passwords..." onkeyup="filterVault()"/>
        <i class="fas fa-search"></i>
    </div>

    <div class="vault-list">
      {% for entry in passwords %}
        <div class="vault-item" onclick="openPopup('{{entry.name}}', '{{entry.username}}', '{{entry.password}}', '{{entry.url}}', '{{entry.id}}')">
            <div class="item-details">
              {% for key, value in entry.items %}
                {% if key == "name" %}
                <h3>{{ value }}</h3>
                {% elif key == "username" %}
                <p>{{ value }}</p>
                {% elif key == "url" %}
                <p>{{ value }}</p>
                {% endif %}
              {% endfor %}
            </div>
            <div class="item-actions">
                <i class="fas fa-copy" onclick="event.stopPropagation(); copyPassword('{{entry.password}}')"></i>
                {% comment %} <i class="fas fa-trash" onclick="event.stopPropagation(); deletePassword()"></i> {% endcomment %}
            </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% include "vault/popupModal.html" %}

</section>

{% endblock body %}