{% extends "index.html" %}
{% load static %}

{% block head %}
<title>{{title}}</title>
<link rel="stylesheet" href="{% static "css/vault/index.css" %}">
<script src="{% static "js/vault/index.js" %}"></script>
{% endblock head %}

{% block body %}

<section class="section section-vault">
  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="{% static "images/APM-Logo-BG.png" %}" alt="logo" onclick="simulateAnchorClick('https://github.com/Abled-Taha/apm-app-web')">
        <h1>APM Vault</h1>
      </div>
        <ul class="nav-links">
            <li><a onclick=openPopupAdd() href="javascript:;">Add New</a></li>
            <li>
              <button class="setting-btn" onclick=openPopupSettings()>
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar1"></span>
              </button>
            </li>
        </ul>
    </nav>
  </header>

  <div class="container vault-container">
    <div class="search-bar">
        <input type="text" id="search" placeholder="Search saved passwords..." onkeyup="filterVault()"/>
        <i class="fas fa-search"></i>
    </div>

    <div class="vault-list">
      {% for entry in passwords %}
        <div class="vault-item" onclick="openPopup('{{entry.name}}', '{{entry.username}}', '{{entry.password}}', '{{entry.url}}', '{{entry.note}}', '{{entry.id}}')">
            <div class="item-details">
              {% for key, value in entry.items %}
                {% if key == "name" %}
                <h3>{{ value }}</h3>
                {% elif key == "username" %}
                <p>{{ value }}</p>
                {% elif key == "url" %}
                <img src="https://s2.googleusercontent.com/s2/favicons?domain={{value}}" alt="url-logo">
                <p>{{ value }}</p>
                {% endif %}
              {% endfor %}
            </div>
            <div class="item-actions">
                <i class="fas fa-copy" onclick="event.stopPropagation(); copyPassword('{{entry.password}}')"></i>
                <i class="fas fa-trash" onclick="event.stopPropagation(); openPopupDelete('{{entry.id}}')"></i>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% include "vault/popupModal.html" %}
{% include "vault/popupModalAdd.html" %}
{% include "vault/popupModalAddPassword.html" %}
{% include "vault/popupModalDelete.html" %}
{% include "vault/popupModalEdit.html" %}
{% include "vault/popupModalExport.html" %}
{% include "vault/popupModalImport.html" %}
{% include "vault/popupModalPGConfig.html" %}
{% include "vault/popupModalSession.html" %}
{% include "vault/popupModalSessions.html" %}
{% include "vault/popupModalSettings.html" %}
{% include "vault/popupModalUserSettings.html" %}
{% include "vault/popupModalVaultSettings.html" %}

</section>

{% endblock body %}