<div id="popup-userSettings" class="modal">
  <div class="modal-content">
      <span class="close" id="popup-userSettings-close" onclick="closePopupUserSettings()">&times;</span>
      <div class="user">
        <div class="profile-picture">
          <img src="data:image/jpg;base64, {{pp}}" alt="profile-picture"/>
        </div>
        <br>
        <button onclick="simulateFieldClick('id_image')">Change Profile Picture</button>
        <form action="/pp-new/" method="post" id="image-form" enctype="multipart/form-data">
          {% csrf_token %}
          {{formImageUpdate.image}}
        </form>
        <br>
        <p id="username">123</p>
        <p id="email">123</p>
        <button onclick="openPopupChangeMasterPassword()">Change Master Password</button>
      </div>
  </div>
</div>