<div id="popup-details" class="modal">
  <div class="modal-content">
      <span class="close" id="popup-details-close" onclick="closePopup()">&times;</span>
      <h3 id="popup-details-website">Website Name</h3>
      <p><strong>Username:</strong> <span id="popup-details-username">username@example.com</span></p>
      <p><strong>Password:</strong> <span id="popup-details-password">password123</span></p>
      <p><strong>URL:</strong> <span id="popup-details-url">123.com</span></p>
      <p id="popup-details-id-label"><strong>ID:</strong> <span id="popup-details-id">0</span></p>
      <button id="popup-details-button-copy" onclick="copyPassword()">Copy Password</button>
      <br>
      <button id="popup-details-button-edit" onclick="editPassword()">Edit Password</button>
  </div>
</div>