<div id="popup-addPassword" class="modal">
  <div class="modal-content">
    <span class="close" id="popup-addPassword-close" onclick="closePopupAddPassword()">&times;</span>
    <div class="addPassword-body">
      <div class="addPassword-container">
        <div class="addPassword-box">
          <h2>Create a Password</h2>
          <form action="/vault-new/" method="POST">
            {% csrf_token %}
              <div class="input-group">
                  <label for="fullname">Name</label>
                  {{formVaultNew.name}}
              </div>
              <div class="input-group">
                  <label for="email">Username</label>
                  {{formVaultNew.username}}
              </div>
              <div class="input-group">
                  <label for="password">Password</label>
                  <div class="password-wrapper">
                    {{formVaultNew.password}}
                    <i class="fas fa-eye" id="togglePassword" onclick="togglePasswordVisibility()"></i>
                  </div>
              </div>
              <div class="input-group">
                <label for="url">URL</label>
                {{formVaultNew.url}}
              </div>
              <div class="input-group">
                <label for="note">Note</label>
                {{formVaultNew.note}}
              </div>
              <button type="submit">Add</button>
          </form>
      </div>
    </div>
    </div>
  </div>
</div>