<div id="popup-details" class="modal">
  <div class="modal-content">
      <span class="close" id="popup-close" onclick="closePopup()">&times;</span>
      <h3 id="popup-website">Website Name</h3>
      <p><strong>Username:</strong> <span id="popup-username">username@example.com</span></p>
      <p><strong>Password:</strong> <span id="popup-password">password123</span></p>
      <p><strong>URL:</strong> <span id="popup-url">123.com</span></p>
      <p id="popup-id-label"><strong>ID:</strong> <span id="popup-id">0</span></p>
      <button id="popup-button" onclick="copyPassword()">Copy Password</button>
  </div>
</div>