<div id="popup-settings" class="modal">
  <div class="modal-content">
      <span class="close" id="popup-settings-close" onclick="closePopupSettings()">&times;</span>
      <div class="options-div">
        <li><button class="popup-settings-buttons-bg" onclick=openPopupUserSettings()>User Settings > </button></li>
        <br>
        <li><button class="popup-settings-buttons-bg" onclick=openPopupSessions()>Sessions > </button></li>
        <br>
        <li><button class="popup-settings-buttons-bg" onclick=openPopupVaultSettings()>Vault Settings > </button></li>
        <br>
        <li><button class="popup-settings-buttons-bg" onclick=openPopupPGConfig()>Password Generator Config > </button></li>
        {% if verified == False %}
          <br>
          <div class="alert alert-danger fade show" role="alert">
            Note: For you to be able to enable 2FA, your email must be verified.
            <button class="popup-settings-buttons-red" onclick="simulateAnchorClick(/otp/)">Verify Email</button>
          </div>
        {% endif %}
      </div>
      <br>
      <button class="popup-settings-buttons-red" onclick=simulateAnchorClick("/logout")>Logout</button>
  </div>
</div>