<div id="popup-export" class="modal">
  <div class="modal-content">
      <span class="close" id="popup-export-close" onclick="closePopupExport()">&times;</span>
      <div class="options-div">
        <li><button class="popup-setting-buttons" onclick="simulateAnchorClick(/export-apm-json-0/)">APM Format (.json) (Un-Encrypted)</button></li>
        <br>
        {% comment %} <li><button class="popup-setting-buttons" onclick=openPopupAddNote()>Add Secure Note</button></li> {% endcomment %}
      </div>
  </div>
</div>