<div id="popup-changeMasterPassword" class="modal">
  <div class="modal-content">
      <span class="close" id="popup-changeMasterPassword-close" onclick="closePopupChangeMasterPassword()">&times;</span>
      <h2>Change The Master Password</h2>
      <form action="/change-password/" method="post">
        {% csrf_token %}
        <div class="input-group">
          <label for="oldPassword" id="popup-changeMasterPassword-oldPassword">Current Password</label>
          <div class="password-wrapper">
            {{formChangePassword.oldPassword}}
            <i class="fas fa-eye" id="togglePassword" onclick="togglePasswordVisibility()"></i>
          </div>
        </div>
        <div class="input-group">
          <label for="newMasterPassword" id="popup-changeMasterPassword-newPassword">New Password</label>
          <div class="password-wrapper">
            {{formChangePassword.newMasterPassword}}
            <i class="fas fa-eye" id="togglePassword" onclick="togglePasswordVisibility()"></i>
          </div>
        </div>
        <button type="submit" class="popup-settings-buttons-red">Save</button>
      </form>
  </div>
</div>