<div id="popup-settings" class="modal">
  <div class="modal-content">
      <span class="close" id="popup-settings-close" onclick="closePopupSettings()">&times;</span>
      <div class="options-div">
        <li><button class="popup-settings-buttons" onclick=openPopupUserSettings()>User Settings > </button></li>
        <br>
        <li><button class="popup-settings-buttons" onclick=openPopupSessions()>Sessions > </button></li>
      </div>
      <br>
      <button onclick=simulateAnchorClick("/logout")>Logout</button>
  </div>
</div>